@import "src/assets/styles/mixins";

/*
  These styles I left because bootstrap doesn't have similar list styles
  and it was easier to leave them as they are than to rewrite them with BS classes.

  Also some styles that I can change to BS classes are left as they are because
  of consistency and readability.
*/
.list {
  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: .25rem;
    position: relative;

    &:last-of-type {
      .category {
        color: darkred;
        font-weight: 500;
      }
    }

    .underline {
      flex: 1 0 auto;
      align-self: flex-end;
      height: 2px;
      border-bottom: 1px dashed var(--black);
      transform: translateY(-7px);
    }
  }
}

.btn {
  justify-self: center;
}