@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import "assets/styles/mixins";
@import "assets/styles/variables";
@import "assets/styles/components/island";

@import "node_modules/bootstrap/scss/functions";

$font-family-base: 'Inter', sans-serif;
$line-height-base: 1.51;
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/forms/form-select";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/utilities/api";

:root {
  --white: #{$white};
  --black: #{$black};
}

body {
  letter-spacing: 0.005em;
  color: $black;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 rem(15px);
}