.h1, h1 {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 61px;
  line-height: 1.125;
  letter-spacing: -0.015em;
  color: inherit;
}

.h2, .h2 {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 1.125;
  letter-spacing: -0.005em;
  color: inherit;
}

.h3, h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 1.125;
  color: inherit;
}

.h4, h4 {

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 1.25;
  letter-spacing: 0.0025em;
  color: inherit;
}

.h5, h5 {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.25;
  color: inherit;
}

.h6, h6 {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.0015em;
  color: inherit;
}

.subtitle-1 {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.51;
  letter-spacing: 0.0015em;
  color: inherit;
}

.subtitle-2 {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.51;
  letter-spacing: 0.001em;
  color: inherit;
}

.body-1 {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.51;
  letter-spacing: 0.005em;
  color: inherit;
}

.body-2 {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.51;
  letter-spacing: 0.0025em;
  color: inherit;
}

.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.51;
  letter-spacing: 0.0125em;
  color: inherit;
}

.caption {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.51;
  letter-spacing: 0.004em;
  color: inherit;
}

.overline {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.51;
  letter-spacing: 0.0125em;
  color: inherit;
}
