$primary-50: #eff5ff;
$primary-100: #dbe8fe;
$primary-200: #bfd7fe;
$primary-300: #93bbfd;
$primary-400: #609afa;
$primary-500: #3b82f6;
$primary-600: #2570eb;
$primary-700: #1d64d8;
$primary-800: #1e55af;
$primary-900: #1e478a;
$white: #ffffff;
$black: #263238;